<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New reply notification</title>
    </head>
    <body>
        <h1>Hello <%= name %></h1>
          <p>a new reply has been addes to your question in this video "<%= title %>"" </p>
          <p>please login to our website to view the reply and continue the disscusion</p>
          <p>thank you for being in our community </p>
    </body>
    </html>